@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo(a) ao AgendaCorp</h1>
    <p>Sua Gestão de Eventos Corporativos de forma instantânea e eficiente.</p>
</div>
